// Theme Color
$theme-colors: (
  "primary": #75bc52,
  "primary-dark": #267f24,
  "secondary": #6f3dc2,
);

// color
$colors: (
  "green": #267f24,
  "teal": #75bc52,
);

// gray Color
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// Font Family
// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
// $font-family-sans-serif: "Roboto", sans-serif;

// Bootstrap-custrom-css

// bootstrap
// @import "../node_modules/bootstrap/";
